@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
:root {
  --main-color: #0aad0a;
  --hover-main: #088d08;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --rating-color: #ffc908;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;

  background-image: url("images/light-patten.svg");
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}
.bg-main-hover:hover {
  background-color: var(--hover-main) !important;
}
a {
  text-decoration: none;
}
.logout{
  cursor: pointer;
}

.netWork{
  background-color: rgba(56, 55, 55, 0.818);
  color: aliceblue;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 9999;
  box-shadow:var(--shadow);
  padding: 25px;
  border-radius: 10%;
}